<?php /** @var $this Engine */ ?>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>form</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        body {
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            background-color: #333;
        }

        h1 .btn {
            font-size: 30px;
        }
    </style>
</head>

<body>

<div class="container">
    <div class="row">

        <h1 class="text-center"><a href="#myModal" role="button" class="btn btn-primary btn-lg" data-toggle="modal">Enquiry Form</a></h1>

    </div>
</div>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Enquiry Form</h3>
            </div>
            <div class="modal-body">
                <form class="form-horizontal col-sm-12">
                    <input type="hidden" name="form_key" value="<?php echo $this->getFormKey() ?>">
                    <div class="form-group"><label>Name</label><input name="name" class="form-control required"
                                                                      placeholder="Name" data-placement="top"
                                                                      data-trigger="manual"
                                                                      data-content="Must be at least 3 characters long, and must only contain letters."
                                                                      type="text"></div>
                    <div class="form-group"><label>E-Mail</label><input name="email" class="form-control email required"
                                                                        placeholder="email@you.com"
                                                                        data-placement="top" data-trigger="manual"
                                                                        data-content="Must be a valid e-mail address (user@gmail.com)"
                                                                        type="text"></div>
                    <div class="form-group"><label>Phone</label><input name="phone" class="form-control phone"
                                                                       placeholder="999-999-9999" data-placement="top"
                                                                       data-trigger="manual"
                                                                       data-content="Must be a valid phone number (999-999-9999)"
                                                                       type="text"></div>
                    <div class="form-group"><label>Preferred contact method</label><select name="contact_method"
                                                                                           class="form-control required">
                            <option value="phone">Phone</option>
                            <option value="email">Email</option>
                        </select></div>
                    <div class="form-group"><label>Enquiry info</label><input name="info" class="form-control required"
                                                                              placeholder="Enquiry info"
                                                                              data-placement="top"
                                                                              data-trigger="manual"
                                                                              data-content="Enquiry info can not be empty"
                                                                              type="text"/></div>
                    <div class="form-group"><label>Invoice Number</label><input name="invoice" class="form-control"
                                                                                placeholder="Invoice Number"
                                                                                data-placement="top"
                                                                                data-trigger="manual"
                                                                                type="text"></div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-success pull-right">Send It!</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
            </div>
        </div>
    </div>
</div>
<script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type='text/javascript' src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
<script type='text/javascript'>

    $(document).ready(function () {

        /* form validation plugin */
        $.fn.goValidate = function () {
            var $form = this,
                $inputs = $form.find('input,select');

            var validators = {
                name: {
                    regex: /^[A-Za-z]{3,}$/
                },
                email: {
                    regex: /^[\w\-\.\+]+\@[a-zA-Z0-9\.\-]+\.[a-zA-z0-9]{2,4}$/
                }
            };
            var validate = function (klass, value) {
                var isValid = true,
                    error = '';

                if (!value && /required/.test(klass)) {
                    error = 'This field is required';
                    isValid = false;
                } else {
                    klass = klass.split(/\s/);
                    $.each(klass, function (i, k) {
                        if (validators[k]) {
                            if (value && !validators[k].regex.test(value)) {
                                isValid = false;
                                error = validators[k].error;
                            }
                        }
                    });
                }
                return {
                    isValid: isValid,
                    error: error
                }
            };
            var showError = function ($input) {
                var klass = $input.attr('class'),
                    value = $input.val(),
                    test = validate(klass, value);

                $input.removeClass('invalid');

                if (!test.isValid) {
                    $input.addClass('invalid');

                    if (typeof $input.data("shown") == "undefined" || $input.data("shown") == false) {
                        $input.popover('show');
                    }

                }
                else {
                    $input.popover('hide');
                }
            };

            $inputs.keyup(function () {
                showError($(this));
            });

            $inputs.on('shown.bs.popover', function () {
                $(this).data("shown", true);
            });

            $inputs.on('hidden.bs.popover', function () {
                $(this).data("shown", false);
            });

            $form.submit(function (e) {
                var data = {};
                $inputs.each(function () {
                    var self = $(this);
                    if (self.is('.required') || self.hasClass('invalid')) {
                        showError($(this));
                    }
                    data[self.attr('name')] = self.val();
                });
                if (!$form.find('input.invalid').length) {
                    $.ajax({
                        type        : 'POST',
                        url         : 'index.php',
                        data        : data,
                        dataType    : 'json',
                        encode          : true
                    }).done(function(data){
                        if(data.status) {
                            alert('successfully sent');
                        } else {
                            alert(data.msg);
                        }
                        $('#myModal').modal('hide');
                    })
                }
                e.preventDefault();
            });
            return this;
        };
        $('form').goValidate();
    });
</script>
</body>
</html>